input {                                                                                                                 
    touch {                                                                                                             
        map-to-output "AU Optronics faytech 0x01312D50"                                                                 
    }                                                                                                                   
}
