include "wallpaper.kdl"
include "environment.kdl"
include "workspaces.kdl"
include "input.kdl"
include "gestures.kdl"
include "layout.kdl"
include "output.kdl"
include "startup.kdl"
include "misc.kdl"
include "rules.kdl"
include "keybinds.kdl"
include "default_colors.kdl"
include "custom/config.kdl"
