window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
}


window-rule {
    match app-id=r"(zen|firefox)$" title="^Picture-in-Picture$"
    open-floating true
    default-column-width { fixed 720; }
    default-window-height { fixed 480; }
    open-focused false
    default-floating-position x=5 y=5 relative-to="top-right"
}

window-rule {
  match app-id=r"(zen|firefox)$" title="Extention"
  open-floating true
}

window-rule {
  match title="WhatsApp"
  block-out-from "screencast"
}

window-rule {
  match app-id="Emulator"
  match title="Android Emulator"
  open-floating true
  default-floating-position x=5 y=0 relative-to="right"
}

window-rule {
  match app-id="Emulator"
  match title="Emulator"
  open-floating true
  default-floating-position x=-20 y=0 relative-to="right"
}

window-rule {
    match app-id="user-dialog"
    open-floating true
    default-column-width { fixed 720; }
    default-window-height { fixed 480; }
    draw-border-with-background true
    border { off; }
    focus-ring {
        width 4
        active-color "#202020"
    }
}

window-rule {
  match app-id="org.kde.kdeconnect.daemon"
  open-floating true
}

layer-rule {
    match namespace="notification"
    block-out-from "screencast"
}

layer-rule {
  match namespace="kitty-quick-access"
  block-out-from "screencast"
  shadow {
        on
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000064"
    }

    geometry-corner-radius 12
    place-within-backdrop true
}

