/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #1a1b1e !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c5c6c6; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c5c6c6; background-color: rgba(189,193,176,0.4)}
.cm-s-nqqwal { background-color: #1a1b1e; color: #c5c6c6; }
.cm-s-nqqwal span.cm-builtin { color: #77BED8; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #606075; }
.cm-s-nqqwal span.cm-keyword { color: #74BEDE; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #76C1DD; }
.cm-s-nqqwal span.cm-def { color: #75C2E0; }
.cm-s-nqqwal span.cm-variable { color: #BDC1B0; }
.cm-s-nqqwal span.cm-variable-2 { color: #75C2E0; }
.cm-s-nqqwal span.cm-string { color: #77BED8; }
.cm-s-nqqwal span.cm-string-2 { color: #77BED8; }
.cm-s-nqqwal span.cm-number { color: #75C2E0; }
.cm-s-nqqwal span.cm-tag { color: #74BEDE; }
.cm-s-nqqwal span.cm-property { color: #BDC1B0; }
.cm-s-nqqwal span.cm-attribute { color: #BDC1B0; }
.cm-s-nqqwal span.cm-qualifier { color: #76C1DD; }
.cm-s-nqqwal span.cm-meta { color: #75C2E0; }
.cm-s-nqqwal span.cm-header { color: #74BEDE; }
.cm-s-nqqwal span.cm-operator { color: #74BEDE; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(117,194,224,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #74BEDE; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #1a1b1e); }
